html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* header section */

html {
    font-family: "Roboto", sans-serif;
    font-size: 125%;
    color: white;
    background-color: #815600;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
}

header {
    position: relative;
}

nav {
    margin: 0;
}

nav ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;
    flex-direction: row;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
}

.headerFlex h1 {
    text-align: right;
    margin-top: 15%;
    font-size: 90px;
    line-height: 94.3px;
    font-family: "Petit Formal Script";
    width: 50%;
}

.headerFlex img {
    width: 45%;
    margin-bottom: 50px;
}

.socialList {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.socialList ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    padding: 0;
}

.socialList ul li {
    list-style: none;
}

.socialList a {
    color: white;
    font-size: 25px;
}



/* Hand Crafted Section */


.handCrafted {
    background-color: #500801;
    height: 40vh;
}

.handCrafted .wrapper {
    display: flex;
}

.handCrafted .imageContainer {
    flex-basis: 30%;
}

.handCrafted img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 0%;
    margin-top: -5%;
}

.imageContainer {
    padding: 5% 5% 5% 0%;
    width: 20%;
}

.handCrafted .contentContainer {
    flex-basis: 70%;
}

.contentContainer h2 {
    font-family: "Petit Formal Script", sans-serif;
    font-size: 54px;
}

.contentContainer p {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    line-height: 29px;
}

.handCrafted a {
    font-family: "Petit Formal Script", sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #1D0303;
    padding: 5px 10px;
}


/* Latest Collection Section */


.latestCollection {
    height: 70vh;
}

.latestCollection h2 {
    font-family: "Petit Formal Script", sans-serif;
    font-size: 54px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.gallery li {
    list-style: none;
}

.gallery img {
    width: 90%;
}


/* Catalogue Events Collaborations Section */


.catalogueEventsCollaborations {
    background-color: #500801;
    margin-left: 0;
    padding: 5%;
}

.catalogueEventsCollaborations ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.catalogueEventsCollaborations ul div {
    display: flex;
    flex-direction: column;
}

.catalogueEventsCollaborations li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogueEventsCollaborations a {
    font-family: "Petit Formal Script", sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 45px;
}



/* Fall Trends Vegan Leather Section */

.fallTrendsVeganLeather {
    height: 100vh;
    background-color: #815600;
    position: relative;
}

.fallTrendsVeganLeather .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.leftSide {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 5%;
    max-height: 100%;
}

.rightSide {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5%;
}

.rightImage {
    width: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.leftImage {
    width: 50%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.fallTrendsVeganLeather img {
    max-width: 100%;
}

.fallTrendsVeganLeather h2 {
    font-family: "Petit Formal Script", sans-serif;
    font-size: 54px;
}

.fallTrendsVeganLeather p {
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    line-height: 29px;
    width: 80%;
    flex-basis: 25%;
}

.fallTrendsVeganLeather a {
    font-family: "Petit Formal Script", sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #1D0303;
    padding: 5px 10px;
    width: fit-content;
}

/* Stay Updated Section */

.stayUpdated {
    background-color: #500801;
    height: 15vh;
}


/* Footer Section */

footer {
    background-color: #1D0303;
    text-align: center;
}


/* Media Queries */

@media (max-width: 768px) {

    /* Header Queries */

    header .wrapper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    header nav {
        display: none;
    }

    .headerFlex {
        flex-direction: column;
    }

    h1 {

        text-align: right;
    }

    .socialList {
        display: none;
    }


    /* Hand Crafted queries */

    .handCrafted {
        height: 100%;
    }

    .handCrafted .wrapper {
        flex-direction: column;
        max-width: min-content;
        padding: 10%;
    }

    .contentContainer {
        text-align: center;
    }

    .contentContainer p {
        text-align: left;
    }


    /* Latest Collection queries */

    .latestCollection {
        height: 100%;
    }

    .latestCollection .gallery {
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .latestCollection .pic2 {
        display: none;
    }


    /* Catalogue Events Collaborations queries */

    .catalogueEventsCollaborations ul {
        flex-direction: column;
    }


    /* Fall Trends Leather Section queries */

    .fallTrendsVeganLeather {

    }


    /* Stay updated queries */


    .stayUpdated {

    }

    /* Footer queries */

    footer {

    }

}